.view_menu-background {
    -fx-background-color: #D9DAEA;
}

.view_menu_button {
    -fx-text-fill: #918EBE;
    -fx-font-size: 14px;
    -fx-background-color: #D9DAEA;
    -fx-background-insets: 0;
}

.view_menu_button:hover {
    -fx-font-size: 14px;
    -fx-background-color: #CAC9E6;
    -fx-font-weight: bold;
}

.view_menu_button:pressed {
    -fx-text-fill: #6B5EE5;
}